:root{
    --color-blue2: lightblue;
    --color-blue1: blue;
    --color-black1: black;
    --color-green2: lightgreen;
    --color-white: white;
    --color-grey2: lightgrey;
    --color-red1: red;
}