.search-function{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    gap: 0px 5px;
}

.search-function  .quick-search{
     display: flex;
     flex-direction: column;
}
.search-function  .quick-search .show-result{
    z-index: 1;
   
}
.search-function  .quick-search .show-result .data-result{
    border: 1px solid var(--color-black1);
    background-color: var(--color-white);
    width: 100%;
}
.search-function  .quick-search .show-result .data-result tr{
     
}

.search-function  .search{
    padding: 10px;
    border-radius: 3px;
    outline: none;
    box-shadow: 3px;
}

.search-function .search-btn {
    height: 40px;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
}

.search-function .search-btn:hover{
    background-color: var(--color-blue2);
    color: var(--color-white);

}

